<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.urbanLadder.utilties.Reporting">
</listener>
</listeners>

  <test name="urban Test">
  <parameter name="browser" value="firefox" />
    <classes>
     <!--  <class name="com.urbanLadder.testCases.TC_LoginTest_001"/> -->
     <!--  <class name="com.urbanLadder.testCases.TC_GetAddressOfChennaiStore"/> --> 
      <!-- <class name="com.urbanLadder.testCases.TC_AddingWishList"/>-->
      <!-- <class name="com.urbanLadder.testCases.TC_GetGiftCards"/>-->
      <class name="com.urbanLadder.testCases.TC_FilterTheChair"/>
     <!--  <class name="com.urbanLadder.utilties.XLUtilities"/>-->
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
